/* Webfont: MangoGrotesque-Regular */@font-face {
    font-family: 'MangoGrotesque';
    src: url('MangoGrotesque-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('MangoGrotesque-Regular.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

