/* Webfont: MangoGrotesque-SemiBold */@font-face {
    font-family: 'MangoGrotesqueSemBd';
    src: url('MangoGrotesque-SemiBold.woff2') format('woff2'), /* Modern Browsers */
         url('MangoGrotesque-SemiBold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

