/* Webfont: MangoGrotesque-SemiBoldItalic */@font-face {
    font-family: 'MangoGrotesqueSemBdIta';
    src: url('MangoGrotesque-SemiBoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('MangoGrotesque-SemiBoldItalic.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

