/* Webfont: MangoGrotesque-Medium */@font-face {
    font-family: 'MangoGrotesqueMed';
    src: url('MangoGrotesque-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('MangoGrotesque-Medium.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

